
body{
    background-image: url("nasaimg.jpg");
}
.div1{
    color: rgb(249, 245, 250);
    font-weight: 500;
    float: right;
    width: 200px;
    padding: 20px;
}
.form1{
    color: rgb(247, 246, 248);
    
}
