@charset "UTF-8";
em{
    font-style: normal;font-weight: 800;
}
h1{
   display: block;
   background-color: rgb(39, 37, 35);
   padding: 20px;
   margin: 20px;
   width: 900px;
   text-decoration: wavy;
   color: aliceblue;
}
.p1{
    font-weight: 500;
    font-size: large;
    color: aliceblue;
    margin: 5px;
    padding: 10px 20px ;
   
}
.p2{
    font-weight: 700;
    font-size: large;
    color: rgb(1, 0, 0);
}
.JessEnt{
    background-color: #0f110f; /* Green */
    border:none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    font-weight:600;
    
    
  }
  .img1{
    width: fit-content;
    width: 500px;
    height: 400px;
    margin: 5px;
    border-radius: 100px;
    
  }
  .block1{
    display: block;
    background-color: rgb(39, 37, 35);
    width: 960px;
  }
  a{
    color: rgb(250, 251, 252);
    float:right;
    font-weight: 20px;
    font-size:large;
    padding: 10px;
    margin: 5px;

  }
  .a2{
  float: bottom;
  margin: 100px;
  color: rgb(208, 203, 195);
  }
  .form{
    float:left;
    display: block;
    background-color: #0f110f;
    color: aliceblue;
    font-size: large;
    width: 400px;
    margin: 30px;
    padding: 10px;
    height: 40%;
  }
  .img2{
    width: fit-content;
    width: 200px;
    height: 200px;
    margin: 5px;
  } .img3{
    width: 500px;
    height: 400px;
    margin: 5px;
    float: left;
  }
  .form2{
    float: right;
  }
  body{
    background-image: url(photo5.jpg);
    width: fit-content;
    height: fit-content;
  }
  .block2{
    display: block;
   
  }
  .jump{
    float: left;
    color: #0f110f;
    padding: 20px; ;
  }
  nav{
    
    font-size: large;
    font-weight: 500;
  }
  .P6{
    color: rgb(5, 14, 23);
    float:bottom;
    font-weight: 20px;
    font-size:large;
    padding: 10px;
  }